<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sjtu.yifei.test_module1">

    <application>
        <activity
            android:name=".Test1Activity"
            android:label="@string/title_activity_test1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FragmentActivity"
            android:label="@string/title_activity_fragment"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".SchemeActivity"
            android:label="@string/title_activity_uri"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <!--协议部分，随便设置
                    protocol://yifei.sjtu.com:8080/aretrofit?id=10011002
                 -->
                <data
                    android:host="yifei.sjtu.com"
                    android:path="/aretrofit"
                    android:port="8080"
                    android:scheme="protocol" />

                <!--下面这几行也必须得设置-->
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>